GOOGLE_KEY_FILENAME="./service-key.json"
GOOGLE_SHEET_ID="not-safe"
GOOGLE_FOLDER_ID="not-safe"
PUBLIC_GOOGLE_FORM_REGISTER="https://docs.google.com/forms/d/e/1FAIpQLSd_ffJD-0McPexW5Ou9yd6q7odSuuAT1vG40QowrEYocFpGkA/viewform?usp=header&embedded=true"
PUBLIC_GOOGLE_FORM_VOLUNTEER="https://docs.google.com/forms/d/e/1FAIpQLScfdkpLeYRv-NzHwumC_wDdNu_OrQBWerZ_3HRsiBcbFkBnCQ/viewform?usp=header&embedded=true"
